.pueblito-powered-by {
    display: none;
}

#home-discount-amout {
    font-family: $font-family-serif;
}
.testimonial-section {
    .left-slider-grad,
    .right-slider-grad {
        width: 120px;
    }

    @include media-breakpoint-up(lg) {
        .testimonial-card {
            min-height: 250px;
        }
    }
}
