.restricted-page {
    #loginform {
        @extend .card;
        @extend .p-3;

        p {
            @extend .form-group;

            .input {
                @extend .form-control;
            }

            .button {
                @extend .btn;
                @extend .btn-primary;
                @extend .btn-rounded;
                @extend .btn-block;
            }
        }
    }

    .sidebar {
        will-change: min-height;
    }

    .sidebar__inner {
        transform: translate(
            0,
            0
        ); /* For browsers don't support translate3d. */
        transform: translate3d(0, 0, 0);
        will-change: position, transform;
    }
}

.activity-instruction {
    ol {
        li {
            margin-bottom: 0.5rem;
        }
    }
}
