.size-woocommerce_thumbnail {
    max-width: 100%;
    height: auto;
}

.cart_item {
    td {
        vertical-align: middle;
    }

    td.product-quantity {
        .quantity {
            .qty {
                width: 75px;
            }
        }
    }
}

.cart_totals {
    .woocommerce-shipping-totals {
        display: none;
    }

    .cart-subtotal {
        display: none;
    }

    .tax-total.recurring-total {
        display: none;
    }
}
