.products {
    .product {
        a {
            &:hover {
                text-decoration: none;
            }
            h2 {
                color: $black;
                font-size: 1.25rem;
                margin-top: 1rem;
            }

            .size-woocommerce_thumbnail {
                border-radius: .25rem;
            }
        }

        p.loop-price {
            del {
                color: $gray-500;
            }

            bdi {
                font-weight: 900;
            }
        }
    }
}
