.woocommerce-checkout {
    background-color: rgb(248, 249, 250);
    .woocommerce-checkout-review-order {
        .cart-subtotal.recurring-total,
        .tax-total.recurring-total {
            display: none;
        }
    }

    .mailchimp-newsletter {
        align-items: center;
        margin-left: 0;
        margin-right: 0;

        label {
            margin-bottom: 0;
            margin-left: 0.5em;
        }
    }

    .shipping.recurring-total {
        display: none;
    }

    .wc_coupon_message_wrap {
        display: none;
    }

    .payment_method_stripe {
        label {
            width: 100%;
        }

        .stripe-card-group,
        .wc-stripe-elements-field {
            width: 100%;
        }

        #stripe-card-element {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        #stripe-exp-element {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        #stripe-cvc-element {
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }

    #payment {
        ul {
            list-style: none;
            li {
                .stripe-credit-card-brand {
                    width: 20px;
                    margin-top: -15px;
                }
            }
        }

        .wc-saved-payment-methods {
            list-style: none;
            padding-left: 0;
            padding-bottom: 1rem;
        }
    }
}

.woocommerce-notices-wrapper {
    .woocommerce-message {
        @extend .alert;
        @extend .alert-info;
    }
}

.woocommerce-order-received  {
    background-color: #fff;

    h1 {
        display: none;
    }
}
