.woocommerce-variation-add-to-cart {
    label {
        display: none;
    }
}

.product {
    .product_title {
        font-size: 2rem;
    }

    #wc-stripe-payment-request-button-separator, #wc-stripe-payment-request-wrapper {
        display: none !important;
    }

    .flex-control-thumbs {
        list-style: none;
        margin-left: 0;
        display: flex;
        justify-content: space-between;
        padding-top: 1.5em;
        flex-wrap: wrap;
        padding-left: 0;
    }

    .woocommerce-product-gallery__image {
        text-align: center;
        max-width: 100%;
    }

    .variations {
        .label {
            vertical-align: middle;

            label {
                margin-bottom: 0;
            }
        }
    }

    .in-stock {
        margin-bottom: 0;
        font-size: 16px;
        margin-left: 1em;
    }

    .woocommerce-variation-price {
        // font-size: 1.5em;
        // font-weight: bold;
    }

    .first-payment-date {
        padding-top: 1em;
    }

    .wp-post-image {
        max-width: 100%;
        height: auto;
    }

    @media (min-width: 992px) {
        .single_add_to_cart_button {
            width: auto;
        }
    }
}

.woocommerce-variation-add-to-cart {
    .quantity {
        width: 75px;
    }
}
