// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// fusv-disable
$grays: (
    '100': $gray-100,
    '200': $gray-200,
    '300': $gray-300,
    '400': $gray-400,
    '500': $gray-500,
    '600': $gray-600,
    '700': $gray-700,
    '800': $gray-800,
    '900': $gray-900,
) !default;
// fusv-enable

$blue: #5b84f8;
$yellow: #ffd943;
$light-blue: #06d2ff;

// MMB colors

$mmb-blue-primary: #4D77FF;
$mmb-blue-light: #56BBF1;
$mmb-secondary: #5EE6EB;
$mmb-yellow: #F2FA5A;

// $mmb-pink: #f7b8af;
// $mmb-mint: #aad9cd;
// $mmb-gray: #e9e6e2;
// $mmb-yellow: #e8d595;

$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$colors: (
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'white': $white,
    'gray': $gray-600,
    'gray-dark': $gray-800,
) !default;

$primary: $mmb-blue-primary;
$secondary: $mmb-secondary;
// $tertiary: $mmb-gray !default;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-800 !default;

// $theme-colors: (
//     'primary': $primary,
//     'secondary': $secondary,
//     'success': $success,
//     'info': $info,
//     'warning': $warning,
//     'danger': $danger,
//     'light': $light,
//     'dark': $dark,
// ) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-900 !default;
$body-text-align: null !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: 'Lato', sans-serif;

$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace !default;

$font-family-base: $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$bootstrap-icons-font-src: url('./assets/fonts/bootstrap-icons/bootstrap-icons.woff2')
        format('woff2'),
    url('./fonts/bootstrap-icons/bootstrap-icons.woff') format('woff') !default;
