.btn-rounded {
    border-radius: 30px;
    padding: 0.6rem 1.25rem;
    font-weight: bold;
    color: $white;
}

.btn-primary {
    &:hover {
        color: $white;
    }
}

.btn-secondary {
    color: $white;
}

.single_add_to_cart_button.loading {
    opacity: 0.5;
    &:before {
        margin-right: 5px;
        content: '';
        @extend .spinner-border;
        height: 18px;
        width: 18px;
        border-width: 0.2em;
    }
}
