footer {
    background: $mmb-gray;
    color: $gray-900;

    .footer-links {
        li {
            a {
                color: $gray-900;
            }
        }
    }

    .footer-newsletter {
        display: flex;

        .gform_body {
            width: 100%;
        }

        .gfield_label {
            display: none;
        }

        .gform_fields {
            margin-bottom: 0;

            li {
                margin-bottom: 0;
            }
        }
    }

    .gform_wrapper.gravity-theme {
        .gform_footer {
            margin-left: -3px;
            padding: 0;
            margin-top: 0;

            input {
                padding-top: 10px;
                margin-bottom: 0;
            }
        }
    }

    .social-icons {
        li {
            padding: 5px 8px;
        }
    }
}
