footer {
    color: $gray-900;

    .footer-newsletter {
        display: flex;
        .gform-body {
            flex: 0 0 auto;
            width: auto;
            max-width: 300px;

            input[type='email'] {
                @extend .form-control;
            }
        }

        .gform_footer {
            margin-left: 0.5rem;

            .gform_button {
                @extend .btn;
                @extend .btn-outline-primary;
                @extend .btn-rounded;
                @extend .btn-sm;
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    footer {
        .footer-newsletter {
            .gform-body {
                width: 100%;
                max-width: 300px;
            }
        }
    }
    
}