html {
    scroll-behavior: smooth;
}

.logo {
    img {
        max-width: 250px;
    }
}

.header {
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.05);
    .nav {
        .nav-link {
            padding: 0.5rem 0.75rem;
        }
    }
}

.offcanvas-body {
    .nav-link {
        font-size: 1.25rem;
    }
}
